@CHARSET "UTF-8";

/* Remover após montar as páginas */
*:not(body):not(footer) {
  border: 2px 2px 2px 2px solid;
}

body {
  color: #333333;
  background-color: white;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.container {
  width: 800px;
  margin: 0 auto;
}
.header {
  position: relative;
  vertical-align: center;
  height: 112 px;
}
.header img,
.header h1 {
	display: inline-block;
	margin-left: 20px;
	margin-top: auto;
	margin-bottom: auto;
}
.header h1 {
	position: relative;
	vertical-align: center;
	
}

.menu-opcoes {
	position: absolute;
	top: 0px;
	right: 0px;
}
.menu-opcoes ul {
	font-size: 15px;
}
.menu-opcoes ul li  {
	display: inline;
	margin-left: 20px;
}
.menu-opcoes  a {
	font-weight: bold;
	text-decoration: none;
}

.busca {
	position: absolute;
	bottom: 0px;
	right: 0px;
}

.menu-lateral {
  float: left;
  margin-right: 10px;
  margin-top: 10px;
  padding-bottom: 10px;
  clear: left;
  width: 115px;
  
  background-color: #dcdcdc;
  font-weight: bold;
  text-transform: uppercase;
}

.menu-lateral li {
  margin-bottom: 1px;
  padding: 5px 10px;
  
  background-color: white;
  list-style: none;
}
.menu-lateral li ul {
	
  
}

.conteudo {
	float: right;
	height:600px; 
	width: 625px;
	background-color: #dcdcdc;
}
.footer {
	clear: both;
	padding: 5px;
	height: 45px;
	background-color: black;
}

.footer .container {
	position: relative;
}
.footer p {
	color: white;
}